:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --grey: #6b7280;
    --pink: #ec4899;
    --purple: #8b5cf6;
    --light: #eee;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

span {
    width: 900px;
    height: 900px;
    background-color: cornsilk;
    box-shadow: 5px 5px 5px #111827;
    border-radius: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    background-color: floralwhite;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
}

#new-todo-form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-todo-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-todo-input::placeholder {
    color: var(--grey);
}

#new-todo-submit {
    color: var(--pink);
    font-size: 25px;
    font-weight: 700;
    background-image: linear-gradient(to right, cornflowerblue, blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-todo-submit:hover {
    opacity: 0.8;
}

#new-todo-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.todo-list {
    padding: 1rem;
}

.todo-list h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
}

#todos .todo {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.todo .content {
    flex: 1 1 0%;
}

.todo .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.todo .content .text:not(:read-only) {
    color: var(--pink);
}

.todo .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.todo .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.todo .actions button:hover {
    opacity: 0.8;
}

.todo .actions button:active {
    opacity: 0.6;
}

.todo .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.todo .actions .delete {
    color: crimson;
}
